<!DOCTYPE html>
<html>
  <head>
    <title>Dinner</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>What's for Dinner?</h1>
    <%= yield %>
  </body>
</html
